@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #E8E3D3;
  color: #2D3E2D;
}
